@charset "utf-8";
@import url(../sharestyle.css);

/*style for content*/
body {
  background-color: var(--c-bg-neutral);
}
ul{
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.carousel {
  background-color: gray;
}
.carousel img {
  height: 700px;
}
section {
  margin: 0;
  padding: 8rem;
}
section:only-child {
  padding: 0 1rem;
  max-width: 1000px;
}
section h2 {
  letter-spacing: .5em;
  font-size: 3em;
  margin-bottom: 4rem;
}
section a {
  font-size: 1.5em;
}
.section1 {
  color: #fff;
  background-color: #3f2f5b;
}
.section1 h2 {
  color: #fff;
}
.section1 a {
  background-color: #ddd4e5;
}
.section1 span {
  color: #3f2f5b;
}
.section2 {
  color: #3f2f5b;
  background-color: #ddd4e5;
}
.section2 h2 {
  color: #3f2f5b;
}
.section2 a {
  background-color: #3f2f5b;
}
.section2 span {
  color: #ddd4e5;
}
.section3 {
  background-color: #92a5a1;
}
.section3 h2 {
  color: white;
}
section p {
  text-align: center;
}
.button__wrapper {
  display: flex;
  justify-content: center;
}
.button__wrapper .button {
  width: max-content;
  margin: 10px;
  padding: .5em 1em;
  border: 1px solid var(--c-border);
  border-radius: 9999px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.button:hover {
  opacity: .75;
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
/*open iframe directly*/
.iframe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iframe__container iframe {
  max-width: 100%;
  margin: 10px 0;
}
@media screen and (max-width: 767px) {
  section {
    margin: 0;
    padding: 2rem;
  }
  section h2 {
    font-size: 1.5em;
  }
  section a {
    font-size: 1.2em;
  }
  section .button__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
