@charset "utf-8";
@import url(./sharestyle.css);

/*style for content*/
.Title {
  width: 90%;
  max-width: 1728px;
  margin: 0 auto;
  border-bottom: 1px solid silver;
}

.Title__subtitle {
  text-align: center;
}

.Types {
  width: 90%;
  max-width: 1728px;
  margin: 0 auto;
}

.Types__description {
  text-align: center;
}

.Types__list {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.Types__item {
  padding: 1em 0;
  border-bottom: 1px solid silver;
}

.Types__item:last-child {
  border-bottom: none;
}
