@charset "utf-8";
@import url(../sharestyle.css);

/**********style for content**************************************************/
body {
  background-color: var(--c-bg-neutral);
}

/*https://design-library.jp/lab/icons-chevron-down*/
.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: var(--c);
  line-height: 1;
  width: .75em;
  height: .75em;
  margin: .5em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  transform: translateY(-25%) rotate(135deg);
}

/**********Title and columms**************************************************/
.Title {
  padding: 1em;
  border-bottom: 1px solid var(--c-border);
  background-color: var(--c-bg-base);
}
.Title__subtitle {
  text-align: center;
}
.ColumnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ColumnWrapper__Left {
  max-width: 1200px;
  flex-shrink: 1;
}
.ColumnWrapper__Right {
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .ColumnWrapper__Left {
    width: 100%;
  }
  .ColumnWrapper__Right {
    display: none;
  }
}
/**********Card**************************************************/
.Card {
  width: auto;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: var(--c-bg-base);
  overflow: hidden;
}
.Card h3 {
  border-bottom: 1px solid var(--c-border);
}
.Card hgroup {
  padding: 1em 2em;
  border-bottom: 1px solid var(--c-border);
}
.Card hgroup p {
  text-align: center;
}
.News {
  list-style: none;
  margin: 2em;
  padding: 0 1em;
}
.News li {
  padding: 1em 1.2em;
  position: relative;
}
/*
.News li::before {
  position: absolute;
  content: '';
  display: block;
  top: 1.2em;
  bottom: 1.2em;
  left: 0;
  width: 6px;
  margin-right: 1em;
  border-radius: 9999px;
  background-color: var(--main-color);
}
  */
.News time {
  font-size: small;
  opacity: .75;
}
.red {
  color: red;
}
@media screen and (max-width: 767px) {
  .News {
    margin: 0;
  }
}
/**********for Products**************************************************/
.Types__name {
  margin: 0;
  text-align: left;
}
.Types__description {
  margin: 0;
}
.Types__list {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.Types__item {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.Types__item:hover {
  background-color: var(--c-hover);
}
.Types__item a {
  display: block;
  width: min-content;
  text-decoration: none;
  color: inherit;
}
.Types__item img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.Types__item h4 {
  font-size: 1.1em;
  margin: 0;
}
.Types__item .material-symbols-outlined {
  font-size: 1em;
  padding: .2em;
  margin: .2em 0 ;
  background-color: #604a8d;
  color: white;
  border-radius: 5px;
}
.Types__item p {
  margin: 0;
  font-size: .8em;
  overflow-wrap: break-word;
}
.functions {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.functions li {
  margin: 20px;
  padding: 5px;
  border: 1px solid var(--c-border);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functions li span {
  font-size: 50px;
  margin: 70px;
}
.functions li small {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .Types {
    margin: 0;
    padding: 15px;
    border-radius: 0;
    box-shadow: none;
  }
  .Types__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .Types__item {
    margin: 10px 0;
  }
  .Types__item a {
    width: auto;
    /*min-content of anchor element might suffer*/
  }
  .Types__item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  .functions li {
    flex-direction: row;
    width: 90%;
  }
}

/**********TOC**************************************************/
.index {
  margin: 20px 10px;
  background-color: var(--c-bg-base);
  border-radius: 10px;
}
.index h3 {
  margin: 0;
  padding: .5em;
  border-bottom: 1px solid var(--c-border);
  text-align: center;
}
.index__list {
  list-style: none;
  margin: 0;
  padding: 1em;
}
.index__list a {
  display: inline-block;
  padding: .5em;
}

/**********Button**************************************************/
.button:hover {
  background-color: var(--c-hover);
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
.button {
  width: fit-content;
  margin: 0 auto;
  border: 2px solid var(--c-border);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}
.button a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
