@charset "utf-8";
@import url(../css/common.css);

/***********************style for card**********************/
body {
  background-color: var(--c-bg-neutral);
}
.card {
  box-sizing: border-box;
  width: 95%;
  max-width: 1000px;
  margin: 60px auto;
  margin-bottom: 2em;
  padding: 60px;
  border-radius: 20px;

  background-color: var(--c-bg-base);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.ColumnWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content__name {/*h2*/
  margin-top: 3em;
  padding: .5em;
  border: 2px solid var(--main-color);
  border-radius: 9px;
  box-shadow:  0px 0px 10px 0px rgb(0, 0, 0, 0.25);
}
.Title {
  border-bottom: 1px solid var(--c-border);
}
.Title p {/*date*/
  margin: 0;
  font-size: small;
  font-weight: bold;
  opacity: 0.75;
}
.Title__subtitle {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .card {
    margin: 1rem auto;
    padding: 1rem;
}
}

/***********************style for content**********************/
h3 {
  margin-top: 2em;
  padding-left: 1em;
  border-left: 8px solid var(--main-color);
}
main img {
  width: 480px;
  height: 270px;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  main img {
    height: 180px;
    width: 100%;
  }
}
.tableArea__container {
  display: flex;
  flex-wrap: wrap;
}
.tableArea__content {
  margin: .5em;
  padding: .5em;
  border-radius: 9px;
  border: 1px solid var(--main-color);
}
.tableArea__content h4 {
  text-align: center;
}
table {
  margin: 1em auto;
  border-collapse: collapse;
}
td, th {
  padding: .2em .8em;
  border-bottom: 1px solid var(--c-border);
}
tr:first-child td, th {
  border-top: 1px solid var(--c-border);
}

/***********************style for toc**********************/
.index {
  padding: 60px;
  margin: 60px auto;
  border: 1px solid var(--c-border);
  border-radius: 9px;
}
.index a {
  text-overflow: ellipsis;
}
/***********************Back Button**********************/
.backbutton {
  margin: 2em auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.backbutton a {
  box-sizing: border-box;
  display: block;
  width: 90%;
  max-width: 1000px;
  padding: 1.5em 2em;
  background-color: rgb(from gray r g b / .1);
  box-shadow: 0px 2px 10px 0px rgba(0 0 0 / 0.25);
  border-radius: 10px;
  border: 1px solid var(--c-border);

  text-decoration: none;
  color: inherit;
  text-align: center;
  font-weight: bold;

  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
  position: relative;
}
.backbutton a:hover {
  opacity: 0.75;
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
.backbutton .material-symbols-outlined {
  position: absolute;
  left: 1.5em;
}

/***********************New Button**********************/
.button__wrapper {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button__wrapper .button {
  width: max-content;
  padding: .75em 1em;
  border: 1px solid var(--c-border);
  border-radius: 10px;
  background-color: rgb(from gray r g b / .1);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.button:hover {
  background-color: var(--c-hover);
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
