.tablesorter-default {
  width: auto;
  margin: auto;
  text-align: inherit;
  color:  var(--c);
}
.tablesorter-default th {
  background-color: silver;
}
.tablesorter-default td {
  background-color:  var(--c-bg-base);
}
.tablesorter-default tr:nth-child(even) td {
  background-color: var(--c-bg-neutral);
}
.overview__rank {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
}

.iframeModal__card img {
  height: auto;
}
