
.overview__rank {
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
}

.overview {
  padding: 0 5%;
  padding-bottom: 1em;
  box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.1);
}
.overview__name {
  margin-bottom: 0;
  text-shadow: var(--c-bg-base) 0 0 40px;
  font-size: 3em;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .overview__name {
    font-size: 2em;
  }
  .overview__charactristics {
    font-size: small;
  }
}
/***********************Tablesorter**********************/
.tablesorter-default {
  width: auto;
  margin: auto;
  text-align: inherit;
  color:  var(--c);
}
.tablesorter-default th {
  background-color: lightgray;
}
.tablesorter-default td {
  background-color: var(--c-bg-base);
  border-bottom: none;
}
.tablesorter-default tr:nth-child(even) td {
  background-color: var(--c-bg-neutral);
}
/*以下優先順位のため機能せず*/
.tablesorter-headerAsc {
  border-bottom: 2px solid mediumpurple;
}
/***********************Modal Dialog**********************/
dialog {
  border: none;
  width: 70%;
  background-color: var(--c-bg-base);
  border-radius: 20px;
}
dialog img  {
  display: block;
  width: 100%;
  border-radius: 10px;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / .25);
  backdrop-filter: blur(2px);
}
dialog button {
  margin-top: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  background-color: rgb(from dimgray r g b / 0.25);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

  color: var(--c);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  dialog {
    width: 100%;
  }
  dialog img {
    width: 100%;
  }
}
/***********************Back Button**********************/
.backbutton {
  margin: 2em auto;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.backbutton a {
  display: block;
  width: 90%;
  max-width: 1000px;
  padding: 1.5em 2em;
  background-color: rgb(from dimgray r g b / .25);
  box-shadow: 0px 2px 10px 0px rgba(0 0 0 / 0.25);
  border-radius: 10px;

  text-decoration: none;
  color: inherit;
  text-align: center;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.backbutton a:hover {
  opacity: 0.75;
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
