@charset "utf-8";
@import url(../sharestyle.css);

/*style for content*/
body {
  background-color: var(--c-bg-neutral);
}
ul{
}
a {
  text-decoration: none;
  color: inherit;
}
.section-wrapper {
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section {
  background-color: var(--c-bg-base);
  margin: 1em;

  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);

  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
}
section h2 {
  margin: 0;
  letter-spacing: .25em;
}
section p {
  text-align: center;
}
section img {
  height: 20em;
  width: 100%;
  border-radius: 10px 10px 0 0 ;
  background-color: gray;

  object-fit: cover;
}
.section__discripton {
  padding: 1em 2em;
}
.Title {
  padding: 1em;
  border-bottom: 1px solid var(--c-border);
  background-color: var(--c-bg-base);
  text-align: center;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button__wrapper .button {
  width: max-content;
  margin: 10px;
  padding: .5em 1em;
  border: 1px solid var(--c-border);
  border-radius: 9999px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.yt {
  background-color: pink;
}
.x {
  background-color: lightblue;
}
:root,
.darkmode .yt {
  background-color: maroon;
}
.darkmode .x {
  background-color: midnightblue;
}

.button:hover {
  background-color: var(--c-hover);
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
/*open iframe directly*/
.iframe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iframe__container iframe {
  max-width: 100%;
  margin: 10px 0;
}
