@charset "UTF-8";
@import url(../css/common.css);
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

h3 {
  margin-top: 2em;
}
@media screen and (min-width: 1001px) {
  h2 {
    font-size: 2.5em;
  }
}
/*style for content*/
.img {  
  position: relative;
}
.img img {
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 70vh;
  /*max-height: 576px;*/
  margin: 0 auto;
  background-color: gray;
  object-fit: cover;
}
.img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgb(from var(--c-bg-base) r g b/ 0) 90%,rgb(from var(--c-bg-base) r g b/ 1));
}
.overview {
  padding: 0 5%;
  padding-bottom: 1em;
  box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.1);
}
.overview__name {
  margin-bottom: 0;
  text-shadow: var(--c-bg-base) 0 0 40px;
  font-size: 3em;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .overview__name {
    font-size: 2em;
  }
  .overview__charactristics {
    font-size: small;
  }
}
.spacification {
  width: 90%;
  max-width: 1000px;
  margin: 1em auto;
  margin-bottom: 8em;
}
.spacification__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.spacification__content {
  margin: 0 1em 1em 1em;
}
.spacification__content-name {
  text-align: center;
}
/**********table**************************************************/
td, th {
  padding: .2em .8em;
  background-color: rgba(146, 146, 146, 0.25);
  border-radius: 5px;
}
th {
  background-color: var(--c-bg-highlight);
}
/*end of changed area*/

.description {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 8em;
}
.description__chapter {
  padding-left: 1em;
  border-left: 6px solid var(--main-color);
}

.links {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 8em;
}
.links__container {
  margin: 16px auto;
}
/*open iframe directly*/
.iframe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iframe__container iframe {
  max-width: 100%;
  margin: 10px 0;
}
/*open iframe in modal*/
.relatedMovie {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
.relatedMovie__container {
  width: 560px;
  height: 315px;
  max-width: 100%;
  max-height: 50.625vw;
  margin: 0 auto;
  background-color: gray;
}
.relatedMovie__container img {
  width: 100%;
}
#relatedMovie__button {
  position: absolute;
  width: 560px;
  height: 315px;
  max-width: 90%;
  max-height: 50.625vw;
  cursor : pointer;
}
#relatedMovie__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/*modal window*/
#iframeModal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
  transition: .5s;
}
.iframeModal__card {
  width: 80%;
  height: auto;
  background-color: var(--c-bg-base);
  border-radius: 20px;
}
.iframeModal__card iframe, .iframeModal__card img {
  display: block;
  width: 90%;
  height: 40.5vw;
  margin: 20px auto;
}
@media screen and (max-width: 767px) {
  .iframeModal__card {
    width: 100%;
  }
  .iframeModal__card iframe {
    width: 100%;
    height: 60vw;
  }
  .iframeModal__card img {
    width: 95%;
  }
}
#iframeModal__closeButton {
  width: 6em;
  border: 1px solid silver;
  margin: 20px auto;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}
#iframeModal__closeButton:hover {
  color: #fff;
  background-color: gray;
}

.distributions {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 8em;
}
.distributions__step {
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.distributions__step span {
  padding: 1em 2em;
  border-radius: 9px;
  background-color: var(--c-bg-highlight);
}
/*arrow icon*/
.arrow{
  position: relative;
  display: inline-block;
  margin: 0 16px;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.arrow::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}
.sample5-2::before{
  width: 8px;
  height: 8px;
  border-top: 4px solid dimgray;
  border-right: 4px solid dimgray;
  transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .distributions__step {
    display: block;
  }
  .distributions__step span {
    display: block;
    padding: 1em 2em;
  }
  .arrow {
    margin: 0 50%;
  }
  .sample5-2::before{
    transform: rotate(135deg);
    top: inherit;
  }
}

.backbutton:hover {
  background-color: var(--c-hover);
  transform: translateY(1px);
  box-shadow: none;
  transition: .2s;
}
.backbutton {
  margin: 20px auto;
  border: 2px solid var(--c-border);
  border-radius: 9999px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
}
.backbutton a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
